h1, table {
    font-family: "Times New Roman";
}

th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid grey;
}

table, th, tr {
    padding: 5px;
    background: white;
}

h1{
    padding-left: 150px;
}

tr:hover {background-color: #f5f5f5}

a{
    text-decoration: none;
}

a:hover {
    color: indianred;
}

.link{
    padding-top: 20px;
    padding-left: 140px;
}