th {
    border: 1px solid darkslategray;
    text-align: left;
    font-weight: normal;
}


.header {
    text-align: center;
    font-weight: bold;
    color: navajowhite;
    background-color: orangered;
}

body {
    background-color: darkorange;
    font-family: 'Arial';
    font-size: 1.6em;
}

.king {
    background-color: gold;
}

.king th:last-child {
    background-color: darkorange;
}

tr:hover {
    background-color: darkviolet;
    color: cornflowerblue;
}

#kingmaker {
    background-color: gold;

}

tr > th:last-child {
    border: none;
    /*background-color: aqua;*/
}

.header > th:last-child {
    border: 1px solid darkslategray;
}

input {
    height: 2em;
    vertical-align: middle;
}

button {
    height: 2em;
    vertical-align: middle;
}