<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Assignee List</title>
</head>
<body>

<h1>List of assignees:</h1>
<p><a href="/todo/assigneecreate">Add new Assignee</a></p>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="assignee : ${assignee}" th:object="${assignee}">
        <td th:text="*{name}"/>
        <td th:text="*{email}"/>
        <td><a th:href="@{'/todo/{id}/assigneedelete'(id=${assignee.id})}">Delete</a></td>
        <td><a th:href="@{'/todo/{id}/assigneeedit'(id=${assignee.id})}">Edit</a></td>
    </tr>
</table>
</body>
</html>