<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/><title>List of accounts</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>


<table>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Currency</th>
        <th>Animal</th>
        <th>Royalty</th>
        <th>Is friend?</th>
    </tr>
    <tr th:style ="${someaccount.king} == true ? 'color: orange'" th:each="someaccount,iterStat : ${someaccounts}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${someaccount.name}"></td>
        <td th:text="${#numbers.formatDecimal(someaccount.balance, 0, 2)}"></td>
        <td th:text="${someaccount.currency}"></td>
        <td th:text="${someaccount.animalType}"></td>
        <td th:text="${someaccount.king} == true ? 'The king' : '-' "></td>
        <td th:text="${someaccount.bad} == true ? 'Yes' : 'No' "></td>
    </tr>
</table>
<div>
    <a th:href="@{/givemoney}">Give me money!</a>
    <a th:href="@{/addaccount}">Add new account</a>
</div>
</body>
</html>