<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>ToDo CRUD App</title>
</head>
<body>
<h1>Todos for today</h1>
<p th:text=" ${title}"/>
<div>
    <ul>
        <li th:text=" ${title}"></li> <!--how to make unordered list-->
    </ul>
</div>
<!--<table>
    <tbody>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
    </tr>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
    </tr>
    </tbody>
</table>-->
</body>
</html>