<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>My Fox Application</title>
</head>

<body>

<ul>
    <li><a href="/">Information</a></li>
    <li><a href="nutrition.html">Nutrition Store</a></li>
    <li><a href="/tricks.html">Trick centre</a></li>
    <img src="Images/greenfox.png"/>
    <p th:text="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + '.'"/>
    <h2>Known tricks</h2>
</ul>
<div th:if="${fox.tricks.isEmpty()}">
    <div th:text="'You know no tricks. Go and learn some!'"/>
</div>
<div th:unless="${fox.tricks.isEmpty()}">
    <ul th:each="trick : ${fox.tricks}">
        <li th:text="${trick}"/>
    </ul>
</div>

</body>

</html>