<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fox Club Nutrition Store</title>
</head>
<body>
<ul>
    <li><a href="/">Information</a></li>
    <li><a href="/nutrition.html">Nutrition Store</a></li>
    <li><a href="/tricks.html">Trick centre</a></li>
</ul>

<form th:action="@{/changeFood}" th:object="${food}" method="post">
    <label>Food</label>
    <select name="name">
        <option value="salad">Salad</option>
        <option value="pizza">Pizza</option>
    </select>
    <button type="submit">Change</button>
</form>
<form th:action="@{/changeDrink}" th:object="${drink}" method="post">
    <label>Drink</label>
    <select name="name">
        <option value="water">Water</option>
        <option value="beer">Beer</option>
    </select>
    <button type="submit">Change</button>
</form>
</body>
</html>