<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css" />
<head>
    <meta charset="UTF-8" />
    <title>Bank of Simba</title>
</head>
<body>

<table>
    <colgroup span="5"></colgroup>
    <tr class="header">
        <th>Account no.</th>
        <th>Account holder</th>
        <th>Balance</th>
        <th>Account holder animal type</th>
        <th>Choosen side</th>
    </tr>

    <tr th:each="account : ${bank}" th:class="${account.getIsKing() ? 'king' : ''}">
        <th th:text="${account.getId()}"></th>
        <th th:text="${account.getName()}"></th>
        <th th:text="${#numbers.formatDecimal(account.getBalance(), 1, 2, 'POINT')} + ${account.getBalance() == 1 ? ' Stone' : ' Stones'}"></th>
        <th th:text="${account.getAnimalType()}"></th>
        <th th:text="${account.isGoodGuy() ? 'Good one' : 'Bad guy'}"></th>
        <form action="#" th:action="@{/richbeasts}" method="post">
            <input name="name" type="hidden" th:value="${account.getId()}"/>
            <th><button type="submit">Give stones</button></th>
        </form>
    </tr>

    <tr class="addaccount">
        <form action="#" th:action="@{/addaccount}" th:object="${addaccount}" method="post">
            <th><input type="submit" value="Add account"/></th>
            <th><input type="text" th:field="*{name}"/></th>
            <th><input type="number" th:field="*{balance}" min="1" value="1" placeholder="1 or more"/></th>
            <th><input type="text" th:field="*{animalType}"/></th>
            <th><input type="checkbox" th:field="*{goodGuy}"/></th>
            <th th:id="kingmaker"><input type="checkbox" th:field="*{isKing}"/></th>
        </form>
    </tr>
</table>
</body>
</html>